## gradle
/.gradle
/build

## ForgeGradle
/run
/gradle

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin
/debug
/eclipse

## forge
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-*.txt
forge-*-changelog.txt